{% extends "main_django.html" %}
{% load i18n static %}
{% load django_markup %}
{% block title %}
    {% trans "Signed Out" as tmsg %}{{ tmsg | force_escape }} | {{ block.super }}
{% endblock title %}
{% block body %}
    <code><pre>{{course_outline_data_dict}}</pre></code>
    {% for grader in course_grading_data.graders %}
        {% for key, value in grader.items %}
            <p>
                <strong>{{ key }}:</strong>{{ value }}
            </p>
        {% endfor %}
        <hr>
    {% endfor %}
    <p>"minimum_grade_credit": {{ course_grading_data.minimum_grade_credit }}</p>
    <p>"grade_cutoffs": {{ course_grading_data.grade_cutoffs }}</p>
    <p>"grace_period": {{ course_grading_data.grace_period }}</p>
    {% comment %} <h3>collected_block_structure</h3>
{% for key, value in collected_block_structure.iteritems %}
 <p><strong>{{ key }}:</strong>{{ value }}</p>
    {% endfor %} {% endcomment %}
    <ol>
        {% for section in sections.values %}<li>{{ section }}</li>{% endfor %}
    </ol>
    {% for course in course_blocks.values %}<p>{{ course }}</p>{% endfor %}
{% endblock body %}
